$font-family: "Helvetica", sans-serif;
$text-light: #ffffff;
$text-dark: #161616;
$surface-dark: #333333;
$surface-light: #ffffff;
$shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

$light-coral: #f08080;
$royal-blue: #0265ff;
