@import "../../utilities/_variables.scss";
@import "../../utilities/_mixins.scss";

.nav {
  @include flex-center();

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: solid 2px $light-coral;
  background: $surface-light;

  .nav-item {
    @include flex-center();
    @include ease-in-out();

    padding: 0.5em;
    margin: 1em;
    font-size: 16px;
    border: solid 3px $royal-blue;

    &:hover {
      border-color: $light-coral;
      background: $royal-blue;
      color: $text-light;
      cursor: pointer;
    }
  }

  p {
    margin-left: 0.25em;
  }

  .nav-btn {
    display: none;
  }
}
