@import "../../utilities/_variables.scss";
@import "../../utilities/_mixins.scss";

.nav {
  height: min-content;
  .nav-item {
    @include nav-btn();
    opacity: 0;
  }

  .nav-btn {
    @include nav-btn();
    opacity: 1;
  }
}
