@import "./utilities/_variables.scss";
@import "./utilities/mixins";

.app {
  height: 100vh;
  margin: 0;
  padding: 0;

  .nav {
    position: fixed;
    padding: 2.5em;
    z-index: 999;
  }

  .content {
    position: relative;
    height: 100%;
    display: grid;
    place-items: center;
  }
}
