@import "./utilities/_variables.scss";
@import "./utilities/mixins";

.app {
  height: 300vh;
  margin: 0;
  padding: 0;

  .content {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}

  .progress-icon {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 120px;
  height: 120px;
  z-index: 999;
}