@import "./utilities/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: $surface-light;
  color: $text-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  svg {
    overflow: visible;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: $text-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $heading-font;
    margin: 0;
    padding: 0;
  }

  p,
  ul,
  span,
  a,
  button {
    font-family: $body-font;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
}
